body{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
}

.alex-info{
}

.logo{
    font-family: 'Dancing Script', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 150px;
}

.logo img{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.navbar{
    width: 700px;
    margin: 0 auto;
}

.navbar-item{
    display: inline-block;
    margin-left: 65px; 
    margin-right: 65px;
    font-family: 'Raleway';
    font-weight: 500;
    color: #000000;
}

.currentpage{
    font-size: 18px;
}

.link-item{
    opacity: .5;
}

.link-item:hover{
    color: #7e7e7e;
}

.navbar-item a{
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

.navbar-item a:hover{
    text-decoration: none;
}

.navbar-item a:visted{
    color: #000000;
}

.wrapper{
    width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo{
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: 0%;
    height: 250px;
    width: 250px;
    padding: 0;
    margin-left: 200px;
}

.about-container{
    width: 600px;
    font-family: 'Roboto', sans-serif;
}

.about-title{
    font-size: 26px;
}

.about-info{
    margin-top: 10px;
    font-size: 15px;
}

.portfolio{
    margin:0 auto;
    width: 500px;
}

.project-title{
    font-family:'Dosis', sans-serif;
    font-size: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.project-title a{
    color: #000000;
    text-decoration: none;
}

.project-title a:hover{
    opacity: .7;
    text-decoration: none;
}

.project-title a:visited{
    color: #000000;
}

.portfolio a{
    width: 500px;
}

.portfolio img{
    margin-top: 7px;
    display: inline-block;
    width: 500px;
}

.portfolio p{
    width: 500px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.quote-wrapper {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thoughtmap-head {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.quote-block {
    text-align: center;
    padding: 50px;
}

.quote-content {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.quote-source {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    margin-top: 3px;
}

.social-icon{
    clear: both;
    display: block;
    width: 250px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.social-icon img{
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-left: 3px;
    margin-right: 3px;
}

.social-icon:hover > a {
    opacity: 0.5;
}

.social-icon:hover > a:hover{
    opacity: 1.0;
    text-decoration: none;
}

@media(max-width: 1200px){
    .wrapper{
        width: 900px;
    }

    #photo{
        margin-left: 175px;
    }

    .about-info{
        width: 400px;
    }
}

@media(max-width: 1000px){
    .wrapper{
        width: 850px;
    }

    #photo{
        margin-left: 150px;
    }

    .about-container{

    }

    .about-info{
        width: 350px;
    }
}
@media (max-width: 900px){
    .quote-wrapper{
        width: 600px;
    }

    .navbar-container{
        width: 900px;
    }

    .logo{
        font-size: 100px;
    }

    .wrapper{
        width: 800px;
    }

    #photo{
        margin-left: 100px;
    }

    .about-container{
        width: 500px;
    }
}


@media (max-width: 800px){
    .quote-wrapper{
        width: 500px;
    }

    .thoughtmap-head {
        font-size: 16px;
    }

    .quote-content {
        font-size: 14px;
    }

    .quote-source{
        font-size: 12px;
    }

    .navbar-container{
        width: 800px;
    }

    .wrapper{
        width: 700px;
    }

    #photo{
        width: 175px;
        height: 175px;
        display: block;
        margin:0 auto;
    }
    
    .about-container{
        margin-left: 100px;
        margin-top: 10px;
    }

    .about-title{
        font-size: 22px;
    }
}

@media (max-width: 700px){
    #portfolio{
        width: 90px;
        display: block;
        position: relative;
        margin: 20 auto;
    }

    #thoughtmap{
        width: 140px;
        display: block;
        position: relative;
        margin: 20 auto;
    }

    .quote-wrapper{
        width: 400px;
    }

    .navbar-container{
        width: 700px;
    }

    .wrapper{
        width: 600px;
    }

    .portfolio {
        width: 300px;
    }

    .portfolio a{
        width: 300px;
    }

    .portfolio img{
        width: 300px;
    }

    .portfolio p{
        width: 300px;
    }

}

@media (max-width: 600px){

    .quote-wrapper{
        width: 330px;
    }

    #map {
        width: 90px;
        display: block;
        position: relative;
        margin: 20 auto;
    }

    .wrapper{
        width: 500px;
    }

    .navbar-container{
        width: 600px;
    }

    #photo{
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 500px){
    .navbar-container{
        width: 500px;
    }

    #photo{
        margin-left: 125px;
    }

    .wrapper{
        width: 400px;
    }

    .about-container{
        margin-left: 50px;
    }

    .about-title{
        font-size: 18px;
    }

    .about-info{
        width: 300px;
    }
}

@media (max-width: 400px){
    .logo{
        font-size: 75px;
    }

    .info-item{
        font-size: 14px;
    }

    .wrapper{
        width: 300px;
    }

    #about{
        width: 90px;
        display: block;
        position: relative;
        margin: 20 auto;
    }

    .navbar-container{
        width: 400px;
    }

    #photo{
        margin-left: 75px;
    }

    .about-container{
        width: 300px;
        margin-left: 50px;
    }

    .about-title{
        font-size: 16px;
    }

    .about-info{
        width: 200px;
        font-size: 14px;
    }

    .social-icon img{
        height: 25px;
        width: 25px;
    }
}

#error{
    text-align: center;
}

#goHome:hover{
  text-shadow: 2px 2px #e5e5e5;
}

#goHome:visited{
    color: black;
};
